table th {
    text-align: center;
}

.nav-color {
    color: rgb(49, 137, 232) !important;
}
html {
    font-family: 'Times New Roman', Times, serif !important;
}
.cus-banner {
    object-fit: cover;
    height: 300px;
}
.cus-banner2 {
    object-fit: cover;
    height: 400px;
}